/*******************************************
    GENERAL
*******************************************/

body {scroll-behavior: smooth !important;}

ul {list-style: none;}

/*******************************************
    DEMO
*******************************************/

.demo-request {
    background-color: #fefefe;
    margin-top: 10%;
    padding: 3%;
    border-radius: 10px;
    opacity: .95;

}

.no-opacity {opacity: 1;}

.demo-info {padding: 5%;}

p i.green {color: #00800D;}

/*******************************************
    SOFTWARE
*******************************************/
