/*******************************************
    GENERAL
*******************************************/

ul {list-style-type: none;}

/*******************************************
    DEMO
*******************************************/

.demo-request {margin-top: 15%;}
.demo-info {padding: 5%;}
